<div id="home">
  <h2 class="center">About Me</h2>
  <div class="prose">
    <img src="img\self_portrait.jpg" class="left both"></img>

    I'm Gabar, and I love to code <em>stuff</em>. On top of that
    I find spending time on StackOverflow and helping others solve their bugs is rather
    satisfying as well.

  </div>
  <div class="prose">

    I've been programming for the past 3 years, starting out
    with PHP, SQL, and some other language (I was reading a Head First book). I've worked
    with C#, Java, and C++ as well, but really took to Perl as a language to focus on.

  </div>
  <div class="prose">

    Perl was a fun language to learn and presented its own set of
    challenges. Context was an interesting concept, the result of the same expression
    could change based on adding parenthesis on the left or right hand side. There was also something
    awesome about how you could chain keywords, and Perl's one liners. I really hit the
    ground running on StackOverflow, answering questions with the Perl tag.

  </div>
  <div class="prose">

    Eventually I moved on to JavaScript. I avoided the language initially, but I think things like
    Node.js really skyrocketted JavaScript's general useability, out of broswer. I've had a great time
    working with JavaScript so far, and enjoy its frameworks. Socket.io, Angular.js, and Express.js have been
    great frameworks to learn and build sites with.

  </div>
  <div class="prose">

    I plan to start learning the React.js framework next, and adding Python as a supplementary language
    while developing applications.
    
  </div>
</div>
