<div id="home">
  <h2 class="center">About Me</h2>
  <div class="prose">
    <img src="img\self_portrait.jpg" class="left both"></img>

    I'm Gabar, and I love to code <em>stuff</em>. Outside my job as as Front-End Javascript Developer,
    I find spending time on StackOverflow and helping others solve their bugs is rather
    satisfying as well.

  </div>
  <div class="prose">

    I've been programming for several years, starting out with PHP, SQL, and some other language. I've worked with C#, Java, and C++ also, but early on, I really took to Perl as a language to focus on.


  </div>
  <div class="prose">

    Perl was a fun language to learn and presented its own set of challenges. Context was an interesting concept. Tdhe result of the same expression could change based on adding parenthesis on the left or right hand side. There was also something awesome about how you could chain keywords, and Perl's one liners. I really hit the ground running answering questions, and helping other developers with Perl questions.


  </div>
  <div class="prose">

    Soon after I moved on to JavaScript. I avoided the language initially, but I think things like Node.js really skyrocketted JavaScript's general useability, out of browser. I've had a great time working with JavaScript so far, in and outside of work, and enjoy its frameworks. Socket.io, Angular.js, and Express.js have been great frameworks to build sites and web applications with.


  </div>
  <div class="prose">

    I'm constantly looking to learn new things and improve myself as a developer and contribute to the development community.
    
  </div>
</div>
