<div id="projects">
  <h2 class="center">My Projects</h2>
  <ul class="projects">
    <li>
      <span class="title"> OurMeeting.js -
        <span class="short">
          A library designed to help developers create conference and collaboration services.
        </span>
      </span>
      <div class="description">
        <span class="github">
          <a href="https://github.com/OSConf/Our-meeting">Github</a>
        </span>
        <span class="demo">
          <a href="http://ourmeeting.azurewebsites.net/">Check out the demo</a>
        </span>
        <span class="techstack">
          TechStack: WebRTC, Express, Socket.io, and Node
        </span>
      </div>
    </li>
    <li>
      <span class="title"> Our-Meeting.com -
        <span class="short">A video conferencing service</span>
      </span>
      <div class="description">
        <span class="github">
          <a href="https://github.com/HRR1-ddgz/webrtc">Github</a>
        </span>
        <span class="demo">
          <a href="http://www.our-meeting.com">Check out the demo</a>
        </span>
        <span class="techstack">Angular, MongoDB, Socket.io, Express, WebRTC, Node</span>
      </div>
    </li>
  </ul>
</div>
